nav.navbar {
  border-bottom: 1px solid #353941;
}

body{
  max-width: 1200px;
  margin: 0 auto;

}


.navbar-brand, 
.nav-item .nav-link,
.nav-item .nav-link.active{
  color: #FFFFFF;
}

.navbar-brand:hover, 
.nav-item .nav-link:hover,
.nav-item .nav-link.active:hover{
  color: #90B8F8;
}

body{
  background-color: #26282B;
}

.container{
  margin-top: 20px;
  color: #FFFFFF;
  width: 100%;
}

.container h1,
.container p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container{
  padding: 0;
  gap: 20px;
}


.card{
  position: relative;
  max-width: 370px;
  min-height: 240px;
  padding: 0 .8rem;
  margin: 0 auto 2rem;
  background-color: transparent;
  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}

.card-title{
  font-size: 1.8rem;
  text-shadow: 2px 2px #5F85DB;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover{
  background-size: 110%;
  filter: grayscale(0%);

}

.btn-card{
  padding: .5rem 1rem ;
  color: #FFFFFF;
  background-color: #90B8F8;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
}

.btn-card:hover{
  background-color: #90B8F8;
  color: #FFFFFF;
  font-weight: 800;
}

footer{
  max-width: 1200px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #353941;
}

footer span {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
