<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testando Express Nunjucks</title>
</head>
<body>
  {% block content %}
  <div class="container">
    <h1>Aprendendo Nunjucks - Página Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quisquam molestias distinctio rerum nesciunt, nobis saepe architecto odit sed amet fugit libero pariatur aliquid, voluptatibus, velit error! Error, tempora veritatis.
    </p>
  </div>
  {% endblock %}
  <script src="nunjucks.js"></script>
</body>
</html>


